#mainBody {
    -fx-background-color:linear-gradient(to right, #cc95c0, #dbd4b4, #7aa1d2);
}


#next_btn:hover {
    -fx-background-color: #a9ff00; 
}


#next_btn {
	
	-fx-background-color:
        linear-gradient(#f0ff35, #a9ff00),
        radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    

}

#usa_btn {
	-fx-background-color:
        linear-gradient(#ffaf4b, #ff920a);
        
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
	
}

#asia_btn {
	
	-fx-background-color:
        linear-gradient(#eab92d, #c79810); 
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

#africa_btn {
	-fx-background-color:
        linear-gradient(#f2825b, #f07146); 
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
	
}

#europe_btn {
	-fx-background-color:
        linear-gradient(#d8e0de, #0e0e0e);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}